/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* centrar horizontalmente el contenedor */
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url(../img/fondo.png);
	font-family: "Lato";
}

/* ancho maximo definido */
#contenedor {
	width: 100%;
	max-width: 960px;
	margin: 1rem auto;
	background-color: rgba(220, 160, 150, 1.0);

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

/* clase para organizar en 1 columna */
.columnas {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

/* clase para organizar hijos en row */
.secciones-columnas {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}

.oculto {
	display: none;
}

.espaciado {
	margin: 1rem;
	padding: 1rem;
}
.centrado {
	text-align: center;
}

/* position usado únicamente para un aviso fijo */
#nota {
	padding: 1rem;
	position: fixed;
	color: whitesmoke;
	background-color: rgba(50, 150, 0, 1.0);
	bottom: 1rem;
	left: 1rem;
}

/* títulos y destacados con Barlow */
h1, h2, h3, h4, blockquote, .destacado {
	margin: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: rgba(30, 0, 30, 1.0);
  text-align: center;
}

#cita, #cita p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
blockquote {
	margin-top: 1rem;
}

/* estilos para cada imagen mostradas y ocultas */
img {
	display: block;
	margin: 1rem auto;
	width: 50%;
}
#rafa-inicio {
	width: 100%;
}
#galeria img {
	width: 100%;
  display: block;
  margin: 1rem auto;
}

.obras {
	margin-top: 1rem;
	color: whitesmoke;
	background-color: rgba(0, 100, 150, 0.3);
}

form, form legend, form label {
	margin: 0.5rem;
	padding: 0.5rem;
}
button {
	margin: 0.5rem auto;
	padding: 0.5rem;
	font-family: "Lato";
	font-size: 1rem;
/*	color: whitesmoke;*/
/*	background-color: rgba(250, 0, 250, 0.5);*/
}

ul {
	list-style: none;
}

#notaMontaje p {
	margin: 0 3rem;
	padding: 0.3rem;
	color: black;
	background-color: rgba(0, 100, 150, 0.5);
}

spam {
	padding: 0.2rem;
	color: whitesmoke;
	background-color: black;
}

footer {
	margin: 0.5rem;
	background-color: rgba(255, 0, 240, 0.5);
}
footer a, footer p {
	display: inline-block;
	margin: 0;}

/* estilos para el nav y sus elementos */
nav, nav ul {
	margin: 1rem;
}
nav li {
	margin: 1rem;
	list-style: none;
	display: inline-block;
}
nav a {
	padding: 0.6rem;
}
nav a:link {	color: rgba(200, 200, 200, 0.8);	
				background-color: rgba(80, 220, 0, 0.6);}
nav a:visited {	color: rgba(80, 220, 0, 0.6);
				background-color: black;}
nav a:hover {	color: black;
				background-color: rgba(220, 80, 0, 0.6);}
nav a:active {	color: black;
				background-color: rgba(220, 220, 0, 0.6);}